<h1>Carrito de compras</h1>
<table class="table">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Cantidad</td>
            <td>Precio</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let shopping of (cartList$ | async)">
            <td>{{shopping.bebidaAlcoholica}}</td>
            <td>{{shopping.cantidad}}</td>
            <td>{{shopping.precio | currency}}</td>
            <td><button class="btn btn-danger" (click)="deleteShopp(shopping)">Eliminar</button></td>
        </tr>
        <br>
        <button class="btn btn-danger">Finalizar compra</button>
    </tbody>
</table>
