<h1>Lista de Bebidas Alcoholicas</h1>
<br>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Bebidas Alcoholicas</th>
            <th scope="col">Tipo</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let shopping of shoppings" [ngClass]="{'liquidacion':shopping.liquidacion}">
            <td><img class="my-4" width="100" [src]="shopping.imagen" [alt]="shopping.imagen"></td>
            <td>{{shopping.bebidaAlcoholica}}</td>
            <td>{{shopping.tipo}}</td>
            <td>{{shopping.precio | currency}}</td> <!--pipes para poner signo $-->
            <td> 
                <span class="badge text-bg-light" *ngIf="shopping.stock!=0">{{shopping.stock}}</span>
                <span class="badge text-bg-light" *ngIf="shopping.stock==0">Sin stock</span>
            <td>
                <app-input-integer [(cantidad)]="shopping.cantidad" [max]="shopping.stock" *ngIf="shopping.stock" (maxReached)="maxReached($event)"></app-input-integer>
                <br>
                <button class="btn btn-danger" [disabled]="shopping.cantidad<1" (click)="addToCart(shopping)" *ngIf="shopping.stock!=0">Agregar al carrito</button>
            </td>
        </tr>
    </tbody>
</table>