.consultas {
	font-size: 2.5em;
	text-align:center;
	text-transform: uppercase;
}


form {
	background-color: lightcoral;
	box-shadow: 0.5em 0.5em 3em 1em rgb(192, 192, 137);
	border-radius: 2em;

}

.controles {
	display: flex;
    align-items: center;
	width:90%;
	font-size: 1.5em;
	margin: 2em;
	margin-top: 2em;
	margin-block: 1em;
}

 .button {
	font-size: 1.5em;
    display: flex;
    align-items: center;
    border-radius: 5px;
	margin-top: 0%;
	margin-left: 46%;
}

textarea {
	min-width: 10em;
	resize:none;
}
p{
	margin-top: 0.5em;
	display: flex;
    flex-direction: column;
    align-items: center;
}


